name: Build and Push Docker Image

on:
  push:
    branches: [ "master", "main" ]  # 当你修改 master 或 main 分支时自动触发
  workflow_dispatch: # 允许手动点按钮触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 设置 Docker 编译环境
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 登录到 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 构建并推送
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 修改下面的 yourdockeruser 为你的 Docker Hub 用户名
          tags: ${{ secrets.DOCKER_USERNAME }}/fakesip:latest
